@page
@model Lingzu.Pages.Clientes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.ApellidoP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.ApellidoP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.ApellidoM)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.ApellidoM)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Nit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nit)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cliente?.ClienteId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
