@page
@model Lingzu.Pages.ContactoModel
@{
    var contactos = new List<Contacto>
    {
        new Contacto
        {
            Nombre = "Brayan Moises Chavez Flores",
            Telefono = "78957526",
            GitHub = "https://github.com/persona1",
            CorreoElectronico = "Elchavez@gmail.com.com"
        },
        new Contacto
        {
            Nombre = "Bryan Alexei Espejo Ramos",
            Telefono = "68163993",
            GitHub = "https://github.com/persona2",
            CorreoElectronico = "bryan27092002@gmail.com"
        },
        new Contacto
        {
            Nombre = "Luis Daniel Miranda Machaca",
            Telefono = "75875587",
            GitHub = "https://github.com/persona3",
            CorreoElectronico = "Luisdan30@gmail.com"
        },
        new Contacto
        {
            Nombre = "Jose Andres Paredes Gonzales ",
            Telefono = "62411568",
            GitHub = "https://github.com/persona4",
            CorreoElectronico = "elpeji@gmail.com"
        },
        new Contacto
        {
            Nombre = "Gabriel Omar Racua Mejia",
            Telefono = "73509124",
            GitHub = "https://github.com/persona5",
            CorreoElectronico = "RacuaGenminis@gmail.com"
        }
    };
}

<h1>Lista de Contactos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>GitHub</th>
            <th>Correo Electrónico</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contacto in contactos)
        {
            <tr>
                <td>@contacto.Nombre</td>
                <td>@contacto.Telefono</td>
                <td><a href="@contacto.GitHub" target="_blank">@contacto.GitHub</a></td>
                <td>@contacto.CorreoElectronico</td>
            </tr>
        }
    </tbody>
</table>
<body class="contacto-page">
    <!-- Your Razor Page content goes here -->
</body>
